<table class="table">
  <% users.each do |user| %>
    <tr>
      <td><%= image_tag user.get_profile_image(100, 100) %></td>
      <td>
        <%= link_to(user_path(user.id)) do %>
          <%= user.name %>
        <% end %>
      </td>
      <td>
        <%= render 'relationships/btn', user: user %>
      </td>
    </tr>
  <% end %>
</table>